# Lab 5 - Joining Uber Pick-Ups, Stations, and Boroughs

In [Lecture 3.4](./3_4_joining_large_and_small_files.ipynb), we introduced using a Python `dict` to join a large and small table.  In this lab, we will practice this technique on the uber data set.

**Note:** Make sure that you download and unzip the file `Uber-Jan-Feb-FOIL.csv` before proceeding.

In [1]:
import pandas as pd
from dfply import *

In [3]:
c_size = 500000
trips = pd.read_csv("./data/uber/uber-trip-data/uber-raw-data-janjune-15.csv/uber-raw-data-janjune-15.csv", chunksize=c_size)
first_chunk = next(trips)

In [4]:
first_chunk.head()

  Dispatching_base_num          Pickup_date Affiliated_base_num  locationID
0               B02617  2015-05-17 09:47:00              B02617         141
1               B02617  2015-05-17 09:47:00              B02617          65
2               B02617  2015-05-17 09:47:00              B02617         100
3               B02617  2015-05-17 09:47:00              B02774          80
4               B02617  2015-05-17 09:47:00              B02617          90

## <font color="red"> Problem 1 - Creating 2 Location `dict`</font>

Read the file `taxi-zone-lookup.csv` and inspect the columns. What 2 pieces of information will this file allow us to add to the `uber-raw-data-janjune-15.csv`?  Make a `dict` for each of these variables.

The 2 pieces of information that will allow us to add to uber raw data are the LocationID and Borough columns from taxi zone

In [8]:
look_up = pd.read_csv('./data/uber/uber-trip-data/taxi-zone-lookup.csv')
look_up.head()

   LocationID        Borough                     Zone
0           1            EWR           Newark Airport
1           2         Queens              Jamaica Bay
2           3          Bronx  Allerton/Pelham Gardens
3           4      Manhattan            Alphabet City
4           5  Staten Island            Arden Heights

In [7]:
borough= {ID:name for ID, name in zip(look_up.LocationID, look_up.Borough)}
borough

{1: 'EWR',
 2: 'Queens',
 3: 'Bronx',
 4: 'Manhattan',
 5: 'Staten Island',
 6: 'Staten Island',
 7: 'Queens',
 8: 'Queens',
 9: 'Queens',
 10: 'Queens',
 11: 'Brooklyn',
 12: 'Manhattan',
 13: 'Manhattan',
 14: 'Brooklyn',
 15: 'Queens',
 16: 'Queens',
 17: 'Brooklyn',
 18: 'Bronx',
 19: 'Queens',
 20: 'Bronx',
 21: 'Brooklyn',
 22: 'Brooklyn',
 23: 'Staten Island',
 24: 'Manhattan',
 25: 'Brooklyn',
 26: 'Brooklyn',
 27: 'Queens',
 28: 'Queens',
 29: 'Brooklyn',
 30: 'Queens',
 31: 'Bronx',
 32: 'Bronx',
 33: 'Brooklyn',
 34: 'Brooklyn',
 35: 'Brooklyn',
 36: 'Brooklyn',
 37: 'Brooklyn',
 38: 'Queens',
 39: 'Brooklyn',
 40: 'Brooklyn',
 41: 'Manhattan',
 42: 'Manhattan',
 43: 'Manhattan',
 44: 'Staten Island',
 45: 'Manhattan',
 46: 'Bronx',
 47: 'Bronx',
 48: 'Manhattan',
 49: 'Brooklyn',
 50: 'Manhattan',
 51: 'Bronx',
 52: 'Brooklyn',
 53: 'Queens',
 54: 'Brooklyn',
 55: 'Brooklyn',
 56: 'Queens',
 57: 'Queens',
 58: 'Bronx',
 59: 'Bronx',
 60: 'Bronx',
 61: 'Brooklyn',
 62: 'Brooklyn',
 63: 'Brooklyn',
 64: 'Queens',
 65: 'Brooklyn',
 66: 'Brooklyn',
 67: 'Brooklyn',
 68: 'Manhattan',
 69: 'Bronx',
 70: 'Queens',
 71: 'Brooklyn',
 72: 'Brooklyn',
 73: 'Queens',
 74: 'Manhattan',
 75: 'Manhattan',
 76: 'Brooklyn',
 77: 'Brooklyn',
 78: 'Bronx',
 79: 'Manhattan',
 80: 'Brooklyn',
 81: 'Bronx',
 82: 'Queens',
 83: 'Queens',
 84: 'Staten Island',
 85: 'Brooklyn',
 86: 'Queens',
 87: 'Manhattan',
 88: 'Manhattan',
 89: 'Brooklyn',
 90: 'Manhattan',
 91: 'Brooklyn',
 92: 'Queens',
 93: 'Queens',
 94: 'Bronx',
 95: 'Queens',
 96: 'Queens',
 97: 'Brooklyn',
 98: 'Queens',
 99: 'Staten Island',
 100: 'Manhattan',
 101: 'Queens',
 102: 'Queens',
 103: 'Manhattan',
 104: 'Manhattan',
 105: 'Manhattan',
 106: 'Brooklyn',
 107: 'Manhattan',
 108: 'Brooklyn',
 109: 'Staten Island',
 110: 'Staten Island',
 111: 'Brooklyn',
 112: 'Brooklyn',
 113: 'Manhattan',
 114: 'Manhattan',
 115: 'Staten Island',
 116: 'Manhattan',
 117: 'Queens',
 118: 'Staten Island',
 119: 'Bronx',
 120: 'Manhattan',
 121: 'Queens',
 122: 'Queens',
 123: 'Brooklyn',
 124: 'Queens',
 125: 'Manhattan',
 126: 'Bronx',
 127: 'Manhattan',
 128: 'Manhattan',
 129: 'Queens',
 130: 'Queens',
 131: 'Queens',
 132: 'Queens',
 133: 'Brooklyn',
 134: 'Queens',
 135: 'Queens',
 136: 'Bronx',
 137: 'Manhattan',
 138: 'Queens',
 139: 'Queens',
 140: 'Manhattan',
 141: 'Manhattan',
 142: 'Manhattan',
 143: 'Manhattan',
 144: 'Manhattan',
 145: 'Queens',
 146: 'Queens',
 147: 'Bronx',
 148: 'Manhattan',
 149: 'Brooklyn',
 150: 'Brooklyn',
 151: 'Manhattan',
 152: 'Manhattan',
 153: 'Manhattan',
 154: 'Brooklyn',
 155: 'Brooklyn',
 156: 'Staten Island',
 157: 'Queens',
 158: 'Manhattan',
 159: 'Bronx',
 160: 'Queens',
 161: 'Manhattan',
 162: 'Manhattan',
 163: 'Manhattan',
 164: 'Manhattan',
 165: 'Brooklyn',
 166: 'Manhattan',
 167: 'Bronx',
 168: 'Bronx',
 169: 'Bronx',
 170: 'Manhattan',
 171: 'Queens',
 172: 'Staten Island',
 173: 'Queens',
 174: 'Bronx',
 175: 'Queens',
 176: 'Staten Island',
 177: 'Brooklyn',
 178: 'Brooklyn',
 179: 'Queens',
 180: 'Queens',
 181: 'Brooklyn',
 182: 'Bronx',
 183: 'Bronx',
 184: 'Bronx',
 185: 'Bronx',
 186: 'Manhattan',
 187: 'Staten Island',
 188: 'Brooklyn',
 189: 'Brooklyn',
 190: 'Brooklyn',
 191: 'Queens',
 192: 'Queens',
 193: 'Queens',
 194: 'Manhattan',
 195: 'Brooklyn',
 196: 'Queens',
 197: 'Queens',
 198: 'Queens',
 199: 'Bronx',
 200: 'Bronx',
 201: 'Queens',
 202: 'Manhattan',
 203: 'Queens',
 204: 'Staten Island',
 205: 'Queens',
 206: 'Staten Island',
 207: 'Queens',
 208: 'Bronx',
 209: 'Manhattan',
 210: 'Brooklyn',
 211: 'Manhattan',
 212: 'Bronx',
 213: 'Bronx',
 214: 'Staten Island',
 215: 'Queens',
 216: 'Queens',
 217: 'Brooklyn',
 218: 'Queens',
 219: 'Queens',
 220: 'Bronx',
 221: 'Staten Island',
 222: 'Brooklyn',
 223: 'Queens',
 224: 'Manhattan',
 225: 'Brooklyn',
 226: 'Queens',
 227: 'Brooklyn',
 228: 'Brooklyn',
 229: 'Manhattan',
 230: 'Manhattan',
 231: 'Manhattan',
 232: 'Manhattan',
 233: 'Manhattan',
 234: 'Manhattan',
 235: 'Bronx',
 236: 'Manhattan',
 237: 'Manhattan',
 238: 'Manhattan',
 239: 'Manhattan',
 240: 'Bronx',
 241: 'Bronx',
 242: 'Bronx',
 243: 'Manhattan',
 244: 'Manhattan',
 245: 'Staten Island',
 246: 'Manhattan',
 247: 'Bronx',
 248: 'Bronx',
 249: 'Manhattan',
 250: 'Bronx',
 251: 'Staten Island',
 252: 'Queens',
 253: 'Queens',
 254: 'Bronx',
 255: 'Brooklyn',
 256: 'Brooklyn',
 257: 'Brooklyn',
 258: 'Queens',
 259: 'Bronx',
 260: 'Queens',
 261: 'Manhattan',
 262: 'Manhattan',
 263: 'Manhattan',
 264: 'Unknown',
 265: 'Unknown'}

## <font color="red"> Problem 2 - Dispatch Translation</font>

The following table was taken from the FiveThirtyEight github page and contains the names of each Uber dispatch station.  Create a translation `dict` for these data.

Base Code | Base Name
---|---------
B02512 | Unter
B02598 | Hinter
B02617 | Weiter
B02682 | Schmecken
B02764 | Danach-NY
B02765 | Grun
B02835 | Dreist
B02836 | Drinnen

In [12]:
base = {'B02512': 'Unter',
        'B02598' : 'Hinter',
        'B02617' : 'Weiter',
        'B02682' : 'Schmecken',
        'B02764' : 'Danach-NY',
        'B02765' : 'Grun',
        'B02835' : 'Dreist',
        'B02836' : 'Drinnen'}
base

{'B02512': 'Unter',
 'B02598': 'Hinter',
 'B02617': 'Weiter',
 'B02682': 'Schmecken',
 'B02764': 'Danach-NY',
 'B02765': 'Grun',
 'B02835': 'Dreist',
 'B02836': 'Drinnen'}

In [12]:
# Your code here

## <font color="red"> Problem 3 - Prototyping a Helper Function</font>

Use the first chunk to prototype a helper function that

1. Add three new columns, one for each key/translation.
2. Drop each of the associated keys.
3. Convert the `pickup_date` to a datetime column.
4. Add various datepart columns

This function should use appropriate `dfply` functions and a pipe.

In [13]:
borough = {ID:name for ID, name in zip(look_up.LocationID, look_up.Borough)}

In [14]:
first_chunk.Dispatching_base_num.map(base).head()

0    Weiter
1    Weiter
2    Weiter
3    Weiter
4    Weiter
Name: Dispatching_base_num, dtype: object

## <font color="red"> Problem 4 - Creating a SQL database</font>

Use `pandas` and your helper function to create a `sqlite` database for this file.

## <font color="red"> Problem 5 - Exploring the pickups</font>

**Question of Interest:** I am interested in difference between pick-ups in terms of both time and Borough.  Use aggregation and visualizations to construct a group that illustrates an interesting difference between the Boroughs.